/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Style pour le titre principal */
h1 {
    text-align: center;
}

/* Style pour le conteneur des lettres */
.letters-container {
    display: inline-block;
    padding: 10px;
    border: 1px solid #007BFF;
    border-radius: 5px;
    background-color: #E7F1FF;
}

/* Style pour le formulaire */
form {
    text-align: center;
    margin-top: 20px;
}

/* Style pour le label */
label {
    font-weight: bold;
}

/* Style pour le champ de texte */
input[type="text"] {
    margin: 0 10px;
    padding: 5px;
    border: 1px solid #007BFF;
    border-radius: 5px;
}

/* Style pour le bouton de soumission */
input[type="submit"] {
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
